:root { --serif: 'Vollkorn', serif;
	 	--sanserif: 'Roboto', sans-serif;
	 }

body {
	font-family: var(--serif);		
	color: #222;
	line-height: 1.4;
	font-size: 17px;
	font-weight: regular;
}
code {
	font-family: "Lucida Console", monospace;
	font-size: 85%;
}

h2 {
	/*font-weight: normal;*/
	font-size: 1.1em;	
	font-family: var(--serif);	
}

h3 {
	/*font-weight: normal;*/
	font-size: 0.95em;	
	font-family: var(--sanserif);	
}

.menu a {
	font-size: 0.8em;
	font-family: var(--sanserif);		
}
