:root{
	--body-width: 900px;
	--text-width: 700px;
}

body {
  max-width: var(--body-width);
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

/* header and footer areas */
.menu { padding: 0; margin: 0; text-align: center;}
.menu li { display: inline-block; }
.menu a {
	text-decoration: none;
	/*background: #eee;*/
	padding: 5px;
	/*border-radius: 5px;*/
	color: #222;
}
.menu a:visited{
	color:#222;
}

footer a { text-decoration: none; }
a { text-decoration: none; 
	color: blue;}
a:visited{color:blue;}
hr {
	border-style: dotted;
	color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }



.title {
	/*background: #eee;*/
	padding-top: 10px;
	padding-bottom: 5px;
	border-radius: 5px;
	display: table;
	margin: 0px auto;	
	font-family: var(--serif);	
	font-size: 1.4em;	
}
 
#singlemain{
	margin-right: auto;
	margin-left: auto;
	max-width: var(--text-width);
	margin-top: 5px;	
	padding-top: 5px;
}

#main{
	margin-right: auto;
	margin-left: auto;
	max-width: var(--text-width)
	margin-top: 5px;	
	height: 100%;
}