{{ partial "header.html" . }}

<!-- List all pages recursively by section up to two levels.  -->

<div id = "main">
	<div id="content">
		{{ .Content }}
		{{ with .Sections}}
			<!-- If has sections -->
			{{ range . }}
				<h2> {{ .Title }} </h2>
				{{ .Content }}
				{{ with .Sections }}  
				<!-- Has subsections, go through them -->
				{{ range . }}
					<h3> {{ .Title }} </h3>
					{{ .Content }}
					<!-- List pages in subsection -->
					{{ partial "list-pages.html" . }}
					{{ end }}
					{{ else }}
					<!-- No subsections, go through pages -->
					{{ partial "list-pages.html" . }}
				{{ end }}
			{{ end }}
		{{ else }}
			<!-- No sections -->
			{{ partial "list-pages.html" . }}
		{{ end }}
	</div>	
</div>

{{ partial "footer.html" . }}

